# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
dist-ssr/
.eslintcache

# Python basura
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Datos pesados (No queremos subirlos a la nube)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Modelos y pesos
modelos/weights/*.pth
modelos/weights/*.bin

# Docker y variables de entorno
.env
.env.*
!.env.example
.dockerignore

# IDE y SO
.DS_Store
.vscode/
.idea/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
_minted-*/